<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
    <link rel="stylesheet" type="text/css" href="/css/formsStyle.css">
</head>
<body>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <form th:method="POST" th:action="@{/students/{id}/update(id=${student.getId()})}" th:object="${student}">
                <h2>Update Student:</h2>
                <div>
                    <label for="student">Write Student name:</label>
                    <input id="student" type="text" th:field="*{name}">
                </div>
                <br/>
                <div>
                    <label for="group">Choose Group:</label>
                    <select type="text" th:field="*{groupId}" id="group">
                        <option th:each="group : ${groups}" th:value="${group.getId()}"
                                th:text="${group.getName()}"></option>
                    </select>
                </div>
                <br/>
                <div>
                    <input type="submit" value="Update!"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>