<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Group</title>
    <link rel="stylesheet" type="text/css" href="/css/formsStyle.css">
</head>
<body>
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <form th:method="POST" th:action="@{/groups/new}" th:object="${group}">
                <h2>Add new Group:</h2>
                <div>
                    <label for="group">Write group name:</label>
                    <input id="group" type="text" th:field="*{name}">
                </div>
                <br/>
                <div>
                    <label for="stream">Choose Stream:</label>
                    <select type="text" th:field="*{streamId}" id="stream">
                        <option th:each="stream : ${streams}" th:value="${stream.getId()}"
                                th:text="${stream.getName()}"></option>
                    </select>
                </div>
                <br/>
                <div>
                    <input type="submit" value="Create!"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>