<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<form th:method="POST" th:action="@{/lectures/{id}/addGroups(id=${lectureId})}" th:object="${groupContainer}">-->
<!--    <h2>Choose groups for lecture:</h2>-->
<!--    <ul>-->
<!--        <li th:each="group : ${groups}">-->
<!--            <label th:for="${group.getId()}" th:text="${group.getName()}">Group</label>-->
<!--            <input type="checkbox" th:value="${group.getId()}" th:id="${group.getId()}" th:field=*{groupsId}"/>-->
<!--        </li>-->
<!--    </ul>-->
<!--    <input type="submit" value="Add!"/>-->
<!--</form>-->

<form th:method="POST" th:action="@{/lectures/{id}/addGroups(id=${lectureId})}" th:object="${lectureGroup}">
    <h2>Choose group for lecture:</h2>
    <div>
        <label for="group">Choose group: </label>
        <select type="text" th:field="*{groupId}" id="group">
            <option th:each="group : ${groups}" th:value="${group.getId()}"
                    th:text="${group.getName()}"></option>
        </select>
    </div>
    <br/>
    <div>
        <input type="submit" value="Add group!"/>
    </div>
</form>
</body>
</html>