<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

    <form th:method="POST" th:action="@{/lectures/new}" th:object="${lecture}">
        <h2>Add new lecture:</h2>
        <div>
            <label for="subject">Choose subject: </label>
            <select type="text" th:field="*{subjectId}" id="subject">
                <option th:each="subject : ${subjects}" th:value="${subject.getId()}"
                        th:text="${subject.getName()}"></option>
            </select>
        </div>
        <br/>
        <div>
            <label for="professor">Choose professor: </label>
            <select type="text" th:field="*{professorId}" id="professor">
                <option th:each="professor : ${professors}" th:value="${professor.getId()}"
                        th:text="${professor.getName()}"></option>
            </select>
        </div>
        <br/>
        <div>
            <label for="classroom">Choose classroom: </label>
            <select type="text" th:field="*{classroomId}" id="classroom">
                <option th:each="classroom : ${classrooms}" th:value="${classroom.getId()}"
                        th:text="${classroom.getNumber()}"></option>
            </select>
        </div>
        <br/>
        <div>
            <label for="date">Choose date: </label>
            <input type="date" th:field="*{date}" id="date"/>
        </div>
        <br/>
        <div>
            <label for="time">Choose time: </label>
            <input type="time" th:field="*{time}" id="time"/>
        </div>
        <br/>
        <div>
            <input type="submit" value="Create!"/>
        </div>
    </form>

</body>
</html>
